<div class="row row-cols-1 row-cols-md-4 g-4">
    @if (isLoaded)
    {
        foreach (CalendarInfo calendar in Calendars)
        {
            <div class="col p-4">
                <NavLink href="@(Path.Combine("Events", calendar.Id.ToString()))"
                         class="card text-white mb-3 h-100 text-decoration-none"
                         style="@($"background:{StringHelper.GetHexColorForText(calendar.Name)}")">
                    <div class="card-header">
                        <h5 class="card-title mt-2 mb-2">@calendar.Name</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@calendar.Description</p>
                    </div>
                </NavLink>
            </div>
        }
    }
    else
    {
        <LoaderComponent/>
    }
</div>