.h3-size {
    font-size: calc(1.3rem + .6vw);
}

.h4-size {
    font-size: calc(1.275rem + .3vw);
}

.editable-text {
    width: auto;
    padding: 0;
    line-height: inherit;
    border: 0;
}

.editable-text[contenteditable] {
    border: 1px solid #ced4da;
}