<div class="d-flex align-items-center flex-grow-1 flex-column justify-content-center">
    <div class="spinner-border text-primary" role="status" style="width: 5rem; height: 5rem;"></div>
    <p class="mt-4">@LocalizedResources.Loading</p>
</div>