@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu/>
            </div>

            <main>
                @Body
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirectComponent Uri="Login"/>
    </NotAuthorized>
</AuthorizeView>