<div class="iconbar">
    <div class="top-iconbar-items">
        <div class="nav-item">
            <NavLink href="Profile">
                <ProfilePicComponent Username="@username" Size="40"/>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>
            </NavLink>
        </div>
    </div>
    <div class="bottom-iconbar-items">
        <div class="nav-item">
            <NavLink href="Settings">
                <span class="oi oi-cog" aria-hidden="true"></span>
            </NavLink>
        </div>
    </div>
</div>

@code
{
    [Inject]
    public IUserUpdateService? UserUpdateService { get; set; }

    [Inject]
    public ServerProxy? ServerProxy { get; set; }

    private string username = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var result = await ServerProxy!.GetUserInfoAsync();
        if (result.IsSuccess)
        {
            username = result.Value!.Name;
        }

        UserUpdateService!.UserInfoUpdated += UserInfoUpdated;
    }

    private void UserInfoUpdated(UserInfo userInfo)
    {
        username = userInfo.Name;
        StateHasChanged();
    }
}