<h5>About me</h5>

<EditForm Model="userInfoViewModel" OnValidSubmit="ChangeInfo">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="mb-3 row">
        <label class="col-sm-4 col-form-label">Name</label>
        <div class="col-sm-8">
            <InputText @bind-Value="userInfoViewModel.Name" class="form-control"/>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-8">
            <InputText type="email" @bind-Value="userInfoViewModel.Email" class="form-control"/>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-4 col-form-label">Register date</label>
        <div class="col-sm-8">
            <InputText @bind-Value="userInfoViewModel.RegisterDate" class="form-control" readonly/>
        </div>
    </div>

    <div class="row">
        <div class="d-flex justify-content-end mb-3 col">
            <button class="w-50 btn btn-primary" type="submit">Update info</button>
        </div>
    </div>
</EditForm>