@page "/Profile"

<PageTitle>TMS - Профиль</PageTitle>

<h3 class="fw-bold">@LocalizedResources.Profile_MyProfile</h3>

<div class="row">
    <div class="col">
        <UserInfoComponent/>
    </div>
    <div class="col">
        <ChangePasswordComponent/>
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="d-flex justify-content-end col">
        <button class="w-50 btn-danger btn" @onclick="Logout">@LocalizedResources.Profile_Logout</button>
    </div>
</div>