@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body, #app {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

h1:focus {
    outline: none;
}

.cursor-pointer {
    cursor: pointer;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}